.gradle
local.properties
.idea
*.iml
build
.DS_Store
checkstyle*.xml
cache/src/dist/config/production.yml
target/
storage/
ignite/

.classpath
.settings/
.loadpath


*/.classpath
*/.gitignore
*/.project
*/.settings/

